@font-face {
  font-family: 'Musieer';
  src:
    url('/musieer/Musieer.ttf.woff') format('woff'),
    url('/musieer/Musieer.ttf.svg') format('svg'),
    url('/musieer/Musieer.ttf.eot'),
    url('/musieer/Musieer.ttf.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
